:root {
  /* white */
  --mf-white: var(--mf-white-hex);
  --mf-white-hex: #FFFFFF;
  --mf-white-rgb: 255, 255, 255;
  --mf-white-h: 0;
  --mf-white-s: 0%;
  --mf-white-l: 100%;

  /* black */
  --mf-black: var(--mf-black-hex);
  --mf-black-hex: #000000;
  --mf-black-rgb: 0, 0, 0;
  --mf-black-h: 0;
  --mf-black-s: 0%;
  --mf-black-l: 0%;

  /* gray */
  --mf-gray: var(--mf-gray-hex);
  --mf-gray-hex: #232323;
  --mf-gray-rgb: 35, 35, 35;
  --mf-gray-h: 0;
  --mf-gray-s: 0%;
  --mf-gray-l: 14%;

  /* gallery */
  --mf-gallery: var(--mf-gallery-hex);
  --mf-gallery-hex: #F0F0F0;
  --mf-gallery-rgb: 240, 240, 240;
  --mf-gallery-h: 0;
  --mf-gallery-s: 0%;
  --mf-gallery-l: 94%;
}
