---
# CloudConvert API
cloudconvert_api_key: "YOUR_CLOUDCONVERT_API_KEY" # The API key for CloudConvert

# Local font files dir
font_dir: "{{ playbook_dir }}/fonts" # The path to the directory containing the font files

# WordPress Paths
wp_path: "YOUR_WP_PATH" # This is the relative path to the root of your WordPress installation from your ssh home directory (e.g. public_html)
theme_name: "YOUR_THEME_NAME" # Example: "my-divi-child-theme" or "my-elementor-child-theme"
theme_path: "{{ wp_path }}/wp-content/themes/{{ theme_name }}" # The path to the theme directory on the remote host
remote_fonts_dir: "{{ theme_path }}/fonts" # This is where the font files will be stored on the remote host
remote_css_dir: "{{ theme_path }}/css" # This is where you'd like the generated CSS file to be uploaded to
css_filename: "brand-fonts.css" # The name of the CSS file to be generated

# Local Paths
venv_path: "{{ playbook_dir }}/.venv" # The path to the virtual environment
local_temp_dir: "{{ playbook_dir }}/temp" # The path to the temporary directory
